<div class="container">
<div class="container">
<body>

<div id="layout" class="pure-g">

    <div class="content pure-u-1 pure-u-md-3-4">
        <div>
            <div class="posts">
                <section class="post">
                        <h2 class="post-title">About me</h2>
                    <div class="post-description">
                        <div class="post-images pure-g">
                            <div class="pure-u-1 pure-u-md-1-2">
                                <a href="http://www.flickr.com/photos/uberlife/8915936174/">
                                    <img alt="Photo of someone working poolside at a resort"
                                         class="pure-img-responsive"
                                         src="http://farm8.staticflickr.com/7448/8915936174_8d54ec76c6.jpg">
                                </a>
                            <div class="pure-u-1 pure-u-md-1-2">

                            </div>
                        </div>
                    </div>
                        <p>
                            I am an ambitious person who is always learning anything related to tech. Currently my skillset includes web and software development, networking and penetration testing. In my spare time, and not not only, I like doing CTFs, building applications, playing around with network software and installing random linux distros just cuz I like it (I used arch btw). Feel free to get in touch with me about anything. 
                        </p>
                    </div>
                </section>
            </div>

            <div class="footer">
                <div class="pure-menu pure-menu-horizontal">
                    <ul>
                        <li class="pure-menu-item"><a href="https://twitter.com/davidhayrapet" class="pure-menu-link" target="__blank">Twitter</a></li>
                        <li class="pure-menu-item"><a href="https://github.com/networkdavit" class="pure-menu-link" target="__blank">GitHub</a></li>
                        <li class="pure-menu-item"><a href="https://www.linkedin.com/in/davit-hayrapetyan-784a72210/" class="pure-menu-link" target="__blank">Linkedin</a></li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</div>
</div>