<div class="container">
<div class="container">
<body>

<div id="layout" class="pure-g">

    <div class="content pure-u-1 pure-u-md-3-4">
        <div>
            <div class="posts">

                <section class="post">
                        <h2 class="post-title">Welcome to CyberDavid</h2>
                    <div class="post-description">
                        <p>
                            Hi! I am David, welcome to my blog! Let me introduct myself, I am a software developer, cybersecurity consultant and CTF player. In this blog you are going to find posts about programming, technologies, cybersecurity and CTF walkthroughs from HackTheBox, TryHackme, etc. 
                        </p>
                    </div>
                </section>
            </div>
            <div class="posts">
                <hr>
                <section class="post">
                    <header class="post-header">

                        <h2 class="post-title">Everything You Need to Know Before Reading My Blog</h2>
                            <div class="post-images pure-g">
                                <div class="pure-u-1 pure-u-md-1-2">
                                <img alt="Photo of setup"
                                class="pure-img-responsive"
                                src="https://cdn.pixabay.com/photo/2020/01/26/20/14/computer-4795762__340.jpg">
                            </div>
                        <p class="post-meta">
                        </p>
                    </header>

                    <div class="post-description">
                        <p>
                            This blog is dedicated to anything I do related to tech. You will find articles about programming technologies, networking, CTF walkthroughs, development tutorials and innovations. Thank you for visiting my blog!
                        </p>
                    </div>
                </section>
            </div>

            <div class="footer">
                <div class="pure-menu pure-menu-horizontal">
                    <ul>
                        <li class="pure-menu-item"><a href="https://twitter.com/davidhayrapet" class="pure-menu-link" target="__blank">Twitter</a></li>
                        <li class="pure-menu-item"><a href="https://github.com/networkdavit" class="pure-menu-link" target="__blank">GitHub</a></li>
                        <li class="pure-menu-item"><a href="https://www.linkedin.com/in/davit-hayrapetyan-784a72210/" class="pure-menu-link" target="__blank">Linkedin</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</div>
</div>